{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col justify-content-center">
                <img src="{% static 'design/logo.png' %}" width="300"><br>
                <form method="post">
                    {% csrf_token %}
                    {% for f in form %}
                    <p class="label"><b>{{ f.label }}</b></p>
                    {{ f }}
                    {% endfor %}
                    <br><input type="submit" class="btn_e my-3" value="Enter">
                </form>
                <p class="text-white-50">New Here?</p>
                <a class="btn_r" href="/registration">Create Account</a>
            </div>
        </div>
    </div>
{% endblock %}