{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" type="text/css">
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-9 col-lg-10">
        <div class="block profile_info">
             <div class="my-3 profile_image">
                <img src="{{ user.image.url }}" class="profile_ava">
             </div>
             <div class="profile_data my-3">
                {% csrf_token %}
                <input type="hidden" id="is_follow" data-for="{{ is_followed }}">
                <button id="follow" class="profile_fol" data-id="{{ user.id }}" data-url="/user_profile/{{ user.id }}/"><b id="action">Follow</b></button>
                <a class="profile_fol mx-2" href="/start_chat/{{ user.id }}"><b>Message</b></a>
                <p class="text-white my-3"><b>{{ post_am }}</b> posts <b id='followers' class="sm_pad_l">{{ followers }}</b> followers <b class="sm_pad_l">{{ following }}</b> following</p>
                <p class="text-white my-3"><b>{{ user.first_name}} {{ user.last_name }}</b><br>{{ user.status }}</p>
            </div>
        </div>
        <div>
            <p class="my-3 text-center text-white">Posts</p>
        </div>
       <div class="posts">
            {% if posts %}
                {% for p in posts %}
                    <div class="fill mx-1">
                        <a><img class="post_image my-2" data-id="{{ p.id }}" src="{{ p.image.url }}"></a>
                    </div>
                {% endfor %}
            {% endif %}
       </div>
    </div>
{% endblock %}