.body_back {
  background-color: black;
}

.add_post_nav {
  font-size: 16px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  text-align: left;
  color: white;
}

.add_post_nav:hover {
  background: #101010;
  color: white;
  transform: scale(1.01);
}

.nav:link, .nav:visited {
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  text-align: left;
  color: white;
}


.nav:hover, .nav:active {
  background: #101010;
  color: white;
  transform: scale(1.01);
}

hr {
  height: 3px;
  background-color: #505050;
}

.block {
  border-bottom: 1px solid #404040;
}

.profile-image {
  border-radius: 50%;
}

.profile_link:link, .profile_link:visited {
  font-size: 15px;
  outline: none;
  text-decoration: none;
  color: white;
  border-down: 1px solid #404040;
}

.profile_link:hover, .profile_link:active {
  color: #BDBDBD;
  font-size: 15px;
}

.quit_btn {
    position: fixed;
    top: 2%;
    right: 2%;
    width: 2%;
}

.logo {
    width: 90%;
}

[inert] > * {
  opacity: 0.5;
}


@media screen and (max-width: 3000px) {
    .side_bar {
      height: 100vh;
      border-right: 1px solid #404040;
      position: fixed;
    }

    .nav_bar {
        display: none;
    }

    .nav_icon {
        height: 20px;
    }

    .logo_sm {
        display: none;
    }

}

@media screen and (max-width: 1000px) {

    .side_bar {
      height: 100vh;
      border-right: 1px solid #404040;
      align-items: center;
    }

    .nav_link {
        display: none;
    }

    .nav_icon {
        height: 25px;
    }

    .nav_bar {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo_sm {
        display: inline;
        position: relative;
        left: 30px;
        height: 25px;
    }

}

@media screen and (max-width: 500px) {
    .side_bar {
      display: none;
    }

    .nav_bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        height: 5%;
    }
}

