::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: back;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: back;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: back;
}

.info {
  color: #BDBDBD;
}

.sm_info {
  color: #BDBDBD;
  font-size: 12px;
  text-decoration: none;
}

.form_e {
  outline: none;
  width: 90%;
  background-color: black;
  border: 0px solid;
  color: white;
}

.btn_add {
  font-size: 15px;
  outline: none;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 0px;
}

.btn_add:hover, .btn_add:active {
    color: #BDBDBD;
    font-size: 15px;
    background-color: black;
    outline: none;
    border: 0px;
}

.center {
  height: 100vh;
  border-right: 1px solid #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post{
  overflow: hidden;
  position: relative;
}