.form_e {
  outline: none;
  width: 70%;
  background-color: #808080;
  border-radius: 13px;
  color: white;
  border: 0px;
}

.btn_e {
  width: 50px;
  outline: none;
  background-color: #1A64F7;
  border-radius: 13px;
  color: white;
  border: 0px;
}

::placeholder {
  padding-left: 5px;
  color: #d0d0d0;
  opacity: 1;
}