{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    <link rel="stylesheet" href="/static/styles/home.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/chat.css" type="text/css">
    <script src="/static/js/chats.js"></script>
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="cover">
        <div class="side_bar">
            <div class="content">
                <a href="/"><img class="my-5 mx-3 logo" src="/static/design/logo.png"></a>
                <a href="/"><img class="my-5 logo_sm" src="/static/design/logo1.png"></a>
                <a class='nav' href="/profile">
                    <img class="profile-image nav_icon" src="{{ profile.image.url }}">  <text class="nav_link">Profile</text>
                </a><br>
                <a class='nav' href="/add_post"><img class="nav_icon" src="/static/design/add.png">  <text class="nav_link">Add Post</text></a><br>
                <a class='nav' href="/logout"><img class="nav_icon" src="/static/design/logout.png">  <text class="nav_link">Logout</text></a><br>
                <a class='nav' href="/search"><img class="nav_icon" src="/static/design/search.png">  <text class="nav_link">Search</text></a><br>
                <a class='nav' href="/chats"><img class="nav_icon" src="/static/design/message.png">  <text class="nav_link">Chats</text></a><br>
            </div>
        </div>
        <div class="menu my-4">
            {% csrf_token %}
            <div class="chats">
            {% if chats %}
                {% for c in chats %}
                <div class="my-3">
                    <a data-url="/chats/" data-id="{{ c.0.id }}">
                        <img class="profile-image pr-3" src="{{ c.1.image.url }}" width="50" height="50">
                    </a>
                    <a data-url="/chats/" data-id="{{ c.0.id }}" class="profile_link mx-2">
                        Chat: {{ c.1.user.username }}
                    </a>
                </div>
                {% endfor %}
            {% endif %}
            </div>
            <div id="chat" class="chat">

            </div>
        </div>

    </div>
</body>
{% endblock %}