{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    <link rel="stylesheet" href="/static/styles/chat.css" type="text/css">
    <script src="/static/js/chat.js"></script>
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="container">
        <div class="row main">
            <div class="col-lg-8 col-md-8">
                <div class="my-3" style="overflow-y: scroll; height: 600px;">
                    {% if messages %}
                    <div id="messages">
                        {% for m in messages %}
                            {% if m.user == user %}
                                <p class="u_msg">{{ m.body }}</p><br>
                            {% else %}
                                 <p class="msg">{{ m.body }}</p><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% csrf_token %}
                    {% for f in form %}
                        {{ f }}
                    {% endfor %}
                    <button id="input" class="btn_send" data-url="/chat{{ chat.id }}/" data-id="{{ chat.id }}">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}