{% load static %}
<div id="{{ comment.id }}" class="comment_block">
    <div style="display: flex;">
        <input type="hidden" class="is_liked" data-for="0">
        <div>
            <a href="/user_profile/{{ user.id }}"><img class="profile-image my-2" src="{{ profile.image.url }}" width="35" height="35"></a>
        </div>
        <div style="width: 500px;">
            <p class="text-white"><a class="profile_link" href="/user_profile/{{ c.0.user.id }}"><b class="mx-2">{{ user.username }}</b></a>
                {{ comment.body }}<br><a class="text-white-50 mx-2" style="font-size: 11px; text-decoration: none;" id="delete_comment{{ comment.id }}" data-url="/post/{{ post.id }}/" data-id="{{ comment.id }}">Delete</a>
            </p>
        </div>
        <div class="comment_like" data-id="{{ comment.id }}" style="display: flex;">
            <div>
                <small class="text-white-50 mx-2">{{ like_am }}</small>
            </div>
            <div>
                <a class="comment_like_btn" id="like_comment{{ comment.id }}" data-id="{{ comment.id }}" data-url="/post/{{ post.id }}/">
                    <img class="comment_like mb-2" data-id="{{ comment.id }}" data-url="/post/{{ post.id }}/" src="{% static 'design/like.png' %}" width="12">
                </a>
            </div>
        </div>
    </div>
</div>
