{% extends 'base.html' %}
{% block title %}<title>Home</title>{% endblock %}
{% block import %}
    <link rel="stylesheet" href="/static/styles/home.css" type="text/css">
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 vl" style="position: fixed;">
                <a href="/"><img class="my-5 mx-3" src="/static/design/logo.png" width="150"></a>
                <a class='nav' href="/profile">Profile</a><br>
                <a class='nav' href="/add_post">Add Post</a><br>
                <a class='nav' href="/logout">Logout</a><br>
                <a class='nav' href="/search">Search</a><br>
                <a class='nav' href="/chats">Chats</a><br>
            </div>
            <div class="col-md-10 col-lg-10 justify-content-center my-4">
                {% csrf_token %}
                {% if posts %}
                    {% for p in posts %}
                        <div class="post" style="padding-left: 45%" id="{{ p.0.id }}">
                            <a class="profile_link" href="/user_profile{{ p.0.user.id }}"><img class="profile-image pr-3" src="{{ p.0.profile.image.url }}" width="35" height="35"> <b>{{ p.0.user.username }}</b></a><br>
                            <a href="/post{{ p.0.id }}"><img class="my-2" src="{{ p.0.image.url }}" width="450"></a><br>
                            <div class="likes" data-id="{{ p.0.id }}">
                                <input type="hidden" class="is_liked" data-for="{{ p.1 }}">
                                <a data-id="{{ p.0.id }}" data-url="/">
                                    <img class="like_btn" data-id="{{ p.0.id }}" data-url="/" src="/static/design/like.png" width="23">
                                </a>
                                <a class="mx-2 my-2" href="/post{{ p.0.id }}">
                                    <img src="/static/design/comment.png" width="23">
                                </a>
                                <p class="my-2 text"><b class="like_amount">{{ p.2 }}</b> likes</p>
                            </div>
                            <p class="text"><a class="profile_link" href="/user_profile{{ p.0.user.id }}"><b>{{ p.0.user.username }}</b></a> {{ p.0.description }}</p>
                            <a style="color: #bdbdbd; text-decoration: none; font-size: 14px;" href="/post{{ p.0.id }}">Add Comment</a>
                            <hr>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-2 col-lg-2 my-4">
                        <a href="/profile"><img class="profile-image pr-3" src="{{ profile.image.url }}" width="50" height="50"></a>
                        <a class="profile_link mx-2" href="/profile"><b>{{ user.username }}</b></a><br>
                <h6 class="my-3" style="color: #bdbdbd;">Recommendations</h6>
                <hr>
            </div>
        </div>
    </div>
</body>
{% endblock %}