{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
<script src="/static/js/post1.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/styles/post.css" type="text/css">
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 center">
                <img class="post" src="{{ post.image.url }}" width="auto">
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="block">
                    <a class="profile_link" href="/user_profile{{ user.id }}"><img class="profile-image my-2" src="{{ profile.image.url }}" width="50" height="50"> <b class="mx-2">{{ post.user.username }}</b></a>
                </div>
                <div class="block">
                    <p class="text"><a class="profile_link" href="/user_profile{{ post.user.id }}"><img class="profile-image my-2" src="{{ profile.image.url }}" width="45" height="45"><b class="mx-2">{{ post.user.username }}</b></a> {{ post.description }}</p>
                        <div style="overflow-y: scroll; height: 400px;" id="comments">
                            {% for c in comments %}
                                <div id="{{ c.0.id }}" class="comment">
                                    <input type="hidden" class="is_liked" data-for="{{ c.1 }}">
                                    <div style="display: flex;">
                                        <div>
                                            <a href="/user_profile{{ c.0.user.id }}"><img class="profile-image my-2" src="{{ c.0.profile.image.url }}" width="35" height="35"></a>
                                        </div>
                                        <div style="width: 500px;">
                                            <p class="text"><a class="profile_link" href="/user_profile{{ c.0.user.id }}"><b class="mx-2">{{ c.0.user.username }}</b></a>
                                                {{ c.0.body }}<br><button class="sm_info mx-2" id="delete_comment{{ c.0.id }}" data-url="/post{{ post.id }}/" data-id="{{ c.0.id }}">Delete</button>
                                            </p>
                                        </div>
                                        <div class="comment_like" data-id="{{ c.0.id }}" style="display: flex;">
                                            <div>
                                                <p class="sm_info mx-2">{{ c.2 }}</p>
                                            </div>
                                            <div>
                                                <a class="comment_like_btn" data-url="/post{{ post.id }}/" data-id="{{ c.0.id }}">
                                                    <img data-url="/post{{ post.id }}/" data-id="{{ c.0.id }}" class="comment_like mb-2" src="" width="12">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div id="comment"></div>
                        </div>
                </div>
                <div class="block my-2">
                    <a data-url="/post{{ post.id }}/" data-id="{{ post.id }}" class="like">
                        <img id="image" data-id="{{ post.id }}" data-url="/post{{ post.id }}/" src="" width="23">
                    </a>
                    <a class="mx-2 my-2" href="/post{{ p.0.id }}"><img src="/static/design/comment.png" width="23"></a>
                    <p class="my-2 text"><b id="like">{{ like_amount }}</b> likes</p>
                    <p class="info">{{ post.created_at }}</p>
                </div>
                <div>
                    {% csrf_token %}
                    {% for f in form %}
                    {{ f }}
                    {% endfor %}
                    <button id="input" class="btn_add" data-url="/post{{ post.id }}/" data-id="{{ post.id }}">Add</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}