<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="{{ post.image.url }}" width="800">
    <p>{{ like_amount }} {% if user in likes %} <a href="/remove_like{{ post.id }}">-</a> {% else %} <a href="/add_like{{ post.id }}">+</a> {% endif %}</p>
    {% if comments %}
        <div style="overflow-y: scroll; height: 200px;">
            {% for c in comments %}
                <p>{{ c.0.body }} {{ c.2 }}
                    {% if user in c.1 %}<a href="/remove_comment_like{{ post.id }}/{{ c.0.id }}/">-</a> {% else %} <a href="/add_comment_like{{ post.id }}/{{ c.0.id }}/">+</a> {% endif %}
                    <a href="/delete_comment{{ c.id }}/{{ post.id }}/">Delete</a>
                </p>
            {% endfor %}
        </div>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add">
    </form>
</body>
</html>