{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    <link rel="stylesheet" href="/static/styles/search.css" type="text/css">
    <script src="/static/js/search.js"></script>
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 vl">
                <a href="/"><img class="my-5 mx-3" src="/static/design/logo.png" width="150"></a>
                <a class='nav' href="/profile">Profile</a><br>
                <a class='nav' href="/add_post">Add Post</a><br>
                <a class='nav' href="/logout">Logout</a><br>
                <a class='nav' href="/search">Search</a><br>
                <a class='nav' href="/chats">Chats</a><br>
            </div>
            <div class="col-md-8 col-lg-8 justify-content-center my-4">
                <div class="mx-5">
                        {% csrf_token %}
                        {% for f in form %}
                        {{ f }}
                        {% endfor %}
                </div>
                <div id="result">
                    <div id="results" class="my-4 mx-5">
                        {% if results %}
                            {% for p in results %}
                                <a href="/user_profile{{ p.user.id }}"><img class="profile-image pr-3" src="{{ p.image.url }}" width="50" height="50"></a>
                                <a class="profile_link mx-2" href="/user_profile{{ p.user.id }}"><b>{{ p.user.username }}</b></a><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 my-4">
                    <a href="/profile"><img class="profile-image pr-3" src="{{ profile.image.url }}" width="50" height="50"></a>
                    <a class="profile_link mx-2" href="/profile"><b>{{ user.username }}</b></a><br>
                    <h6 class="my-3" style="color: #bdbdbd;">Recommendations</h6>
                    <hr>
            </div>
        </div>
    </div>
</body>
{% endblock %}