{% extends 'base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block import %}
    <link rel="stylesheet" href="/static/styles/profile.css" type="text/css">
    <script src="/static/js/profile.js"></script>
{% endblock %}

{% block content %}
<body class="body_back">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 vl">
                <a href="/"><img class="my-5 mx-3" src="/static/design/logo.png" width="150"></a>
                <a class='nav' href="/profile">Profile</a><br>
                <a class='nav' href="/add_post">Add Post</a><br>
                <a class='nav' href="/logout">Logout</a><br>
                <a class='nav' href="/search">Search</a><br>
                <a class='nav' href="/chats">Chats</a><br>
            </div>
            <div class='col-md-10 col-lg-10 my-3'>
                <div style="display: flex;" class="block">
                    <div class="my-3" style="padding-left: 25%">
                        <img  src="{{ profile.image.url }}" width="200">
                    </div>
                    <div style="padding-left: 5%;" class="my-5">
                        {% csrf_token %}
                        <input type="hidden" id="is_follow" data-for="{{ is_followed }}">
                        <a id="follow" class="profile_fol" data-id="{{ profile.user.id }}" data-url="/user_profile{{ profile.user.id }}/"><b id="action">Follow</b></a>
                        <a class="profile_fol mx-2" href="/start_chat{{ profile.user.id }}"><b>Message</b></a>
                        <p class="text my-3"><b>{{ post_am }}</b> posts <b id='followers' style="padding-left: 15px;">{{ followers }}</b> followers <b style="padding-left: 15px;">{{ following }}</b> following</p>
                        <p class="text my-3"><b>{{ user.first_name}} {{ user.last_name }}</b><br>{{ profile.status }}</p>
                    </div>
                </div>
                <div>
                    <p class="my-3 text-center text">Posts</p>
                </div>
                <div style="display: flex; padding-left: 18%; width: 910px;">
                    {% if posts %}
                        {% for p in posts %}
                            <div class="fill mx-1">
                                <a href="/post{{ p.id }}"><img src="{{ p.image.url }}"></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}