<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>{{ profile.user.username }}</h4>
    {% if not follow %}
        <a href="/unfollow{{ profile.user.id }}/">UnFollow</a>
    {% else %}
        <a href="/follow{{ profile.user.id }}/">Follow</a>
    {% endif %}
    <p>Followers: {{ followers }}</p>
    <p>Following: {{ following }}</p>
    <a  href="/start_chat{{ profile.user.id }}">Message</a>
    {% if posts %}
        {% for p in posts %}
            <a href='/post{{ p.id }}'><img src="{{ p.image.url }}" width="200"></a>
        {% endfor %}
    {% endif %}
</body>
</html>