.form_e {
  outline: none;
  width: 70%;
  height: 30px;
  background-color: #404040;
  border-radius: 10px;
  color: white;
  border: 0px;
  padding: 20px;
}

::placeholder {
  padding-left: 5px;
  color: #808080
  opacity: 1;
}